@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    font-family: 'Roboto';
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

.mainTextColor {
    color: #2259A6;
}

.mainBgColor {
    background-color: #2259A6;
    color: white
}

.secondaryBgColor {
    background-color: #E5F0F0;
}

.btn, .form-control {
    border-radius: 0%;
}
  
.ul,li{
    list-style-type:none;

}
.calendar{
    background-color: white;
}

.date-calendar{
    background-color: rgb(67, 187, 194);
    color: white;
}

.badge{
    border-radius: 0%;
}

p{
    font-size: 16px;
}
.creationActivité {
    margin-left: 25%;
}